
* {
    margin: 0;
    text-decoration: none;
}

:root {
    --main-h: calc(100vh - var(--header-h) - var(--footer-h) - (var(--footer-padding)*2));
    --main-ul-gap: calc(100vw / 10);
    --footer-h: 30px;
    --footer-w: calc(100% - 80px);
    --footer-padding: 40px;
    --footer-ul-gap: calc(100vw / 5) ;
    --header-w: 100%;
    --header-h: 100px;
    --header-logo-margin: 0 0 0 30px;
    --header-ul-padding: 0 30px 0 0;
    --header-ul-gap: calc(100vw / 20);
    --canvas-w: 95%;
    --canvas-h: 50vh;
}

header {
    width: var(--header-w);
    height: var(--header-h);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


header .logo {
    margin: var(--header-logo-margin);
}

header nav ul {
    padding: var(--header-ul-padding);
    list-style: none;
    display: flex;
    gap:  var(--header-ul-gap);
}

main {
    display: grid;
    min-height: var(--main-h);
}

.gui-container {
    display: none;
}

main nav {
    justify-self: center;
    align-self: center;
}

main nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    align-items: center;
    gap: var(--main-ul-gap) ;
}

#canvas {
    justify-self: center;
    width: var(--canvas-w);
    height: var(--canvas-h);
}

footer {
    width: var(--footer-w);
    height: var(--footer-h);
    padding: var(--footer-padding) var(--footer-padding);
    display: grid;
}

footer nav {
    justify-self: center;
    align-self: center;
}

footer nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    gap: var(--footer-ul-gap);
}


@media only screen and (min-width: 1000px) {

    :root {
        --footer-h: 20px;
        --canvas-w: 65%;
        --canvas-h: 60vh;
        --header-logo-margin: 0 0 0 150px;
        --header-ul-padding: 0 100px 0 0;
        --header-logo-font-size: xx-large;
        --main-ul-gap: calc(var(--canvas-h)/5);
        --main-nav-padding: 20px
    }


    #canvas {
        width: var(--canvas-w);
        height: var(--canvas-h);
    }

    header nav ul {  
        padding: var(--header-ul-padding);
    }

    header .logo {
        margin: var(--header-logo-margin);
    }

    .gui-container {
        display: block;
    }

    main {
        min-height: var(--main-h);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    

    main nav {  
        height: var(--canvas-h);
        display: grid;
    }

    main nav ul {
        align-self: center;
        padding-right: calc(var(--main-nav-padding) - 10px);
        flex-direction: column;
        gap: var(--main-ul-gap);
    }

    footer {
        height: var(--footer-h);
        display: flex;
        justify-content: center;
    }

    footer nav {
        align-self: center;
    }

}

