
:root {
    --header-logo-font-color: black;
    --header-logo-font-size: x-large;
    --bg-color: rgba(196,190,187, 1);
    --gba-color: rgba(73,71,134,1);
    --main-nav-border-radius: 6px;
    --main-nav-padding: 10px;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('GillSans-BoldItalic.eot');
    src: local('Gill Sans Bold Italic'), local('GillSans-BoldItalic'),
        url('GillSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('GillSans-BoldItalic.woff2') format('woff2'),
        url('GillSans-BoldItalic.woff') format('woff'),
        url('GillSans-BoldItalic.ttf') format('truetype'),
        url('GillSans-BoldItalic.svg#GillSans-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

body {
    background: var(--bg-color);
}

header {
    background-color: var(--gba-color);
}

header .logo {
    display: flex;
    flex-direction: row;
    margin-left: -8px;
}

.btn {
    cursor: pointer;
}


header .logo {
    font-family: 'Gill Sans';
    font-weight: bold;
    font-style: italic;
    font-size: var(--header-logo-font-size);
    cursor: pointer;
}

main nav  {
    border-radius: var(--main-nav-border-radius);
    background-color: var(--gba-color);
    padding-top: var(--main-nav-padding);
    padding-bottom: var(--main-nav-padding);
}


footer {
    background-color: var(--gba-color);
}

@media only screen and (min-width: 1000px) {

    :root {
        --header-logo-font-size: xx-large;
        --main-nav-border-radius: 25px;
        --main-nav-margin: 35px;
    }

    .gui-container {
        padding-right: var(--main-nav-margin);
    }

    main nav  {
        background-color: var(--gba-color);
        border-radius: var(--main-nav-border-radius);
        margin-left: var(--main-nav-margin);
    }

    .shape-btn {
        background-color: transparent;
        border-radius: 0px;
    }

    header .logo {
        font-size: var(--header-logo-font-size);
    }
}

/* ANIMATION  :D -- Credit: https://lenadesign.org/2021/05/18/css-bouncing-text-animation/ 
   I can tell it must be fun to actually tinker around with stuff like this.
*/

@keyframes bounce {
    0%   { transform: scale(1,1) translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-15px);}
    50%  { transform: scale(1.05,.95) translateY(0); }
    58%  { transform: scale(1,1) translateY(-1px); }
    65%  { transform: scale(1,1) translateY(0);}
    100% { transform: scale(1,1) translateY(0);}
}

.letter {
    color: var(--bg-color);
    text-shadow: 0 3px var(--header-logo-font-color), 0 5px var(--header-logo-font-color), 0 5px var(--header-logo-font-color);
}

.letter-animated {
    animation: bounce 4s ease forwards calc(.1s * var(--i));
}

